<div class="container-fluid">
  <app-pagetitle title="Başvurular" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="filterAnswer"></label></div>
            </div>

            <div *ngIf="filterAnswer" class="alert alert-success">
              {{filterAnswer}} aradınız
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-centered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th sortable="billingname" (sort)="onSort($event)">Kullanıcı İsim</th>
                  <th sortable="billingname" (sort)="onSort($event)">Kullanıcı Soy İsim</th>
                  <th sortable="total" (sort)="onSort($event)">Email</th>
                  <th sortable="billingname" (sort)="onSort($event)">Başvuru Tarihi</th>
                  <th sortable="paymentstatus" (sort)="onSort($event)">Başvuru Durumu</th>
                  <th>İşlemler</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let answersDtos of answersDto ">
      
                  <td>
                    <ngb-highlight [result]="answersDtos.userName" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="answersDtos.lastName" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <ngb-highlight [result]="answersDtos.email" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="answersDtos.date  | date:'dd/MM/yyyy' "   [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <div class="badge font-size-12" [ngClass]="{'badge-soft-danger': answersDtos.stateId === 1,
                    'badge-soft-success':answersDtos.stateId === 2,
                    'badge-soft-warning': answersDtos.stateId === 0}">
                      <ngb-highlight [result]="answersDtos.state" [term]="service.searchTerm"></ngb-highlight>
                    </div>
                  </td>

                  <td>
                    <a   routerLink="answersDetail/{{answersDtos.userId}}" class="mr-3 text-primary" placement="top" ngbTooltip="Ayrıntıları Görüntüle"><i
                        class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" placement="top" ngbTooltip="Sil"><i
                        class="mdi mdi-trash-can font-size-18"></i></a>
              
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>