<div class="row">
    <div class="col-md-8">
        <div style="margin-top: 70px;" class="content">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 style="margin-bottom: 0px;" class="title">Profil Güncelle</h3>
                </div>
                <div class="card-body">
                  <form  [formGroup]="userUpdateForm">
                    <div class="mb-3">
                      <label for="firstName">İsim</label>
                      <div  class="form-group">
                        <input
                          type="text"
                          [(ngModel)]="user.firstName"
                          id="firstName"
                          formControlName="firstName"
                          class="form-control"
                        />
                      </div>
                    </div>
          
                    <div class="mb-3">
                      <label for="lastName">Soyisim</label>
                      <div class="form-group">
                        <input
                          type="text"
                          [(ngModel)]="user.lastName"
                          id="lastName"
                          formControlName="lastName"
                          class="form-control"
                        />
                      </div>
                    </div>
          
                    <div class="mb-3">
                      <label for="email">Email</label>
                      <div class="form-group">
                        <input
                          type="text"
                          [(ngModel)]="user.email"
                          id="email"
                          formControlName="email"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <button class="btn btn-fill btn-primary" (click)="update()">Güncelle</button>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</div>